In [1]:
import pandas as pd
import os
from bs4 import BeautifulSoup as bs
from splinter import Browser
import time
import requests

In [2]:
executable_path = {"executable_path": "/usr/local/bin/chromedriver"}
browser =  Browser("chrome", **executable_path, headless=False)
fact_url = "https://space-facts.com/mars/"
browser.visit(fact_url)
soup = bs(browser.html, 'html.parser')

In [13]:
fact_df = pd.read_html(fact_url)[0]

In [14]:
fact_df.columns=['Fact', 'Value']
fact_df.set_index('Fact', inplace=True)

In [15]:
fact_df

                                              Value
Fact
Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.39 × 10^23 kg (0.11 Earths)
Moons:                          2 (Phobos & Deimos)
Orbit Distance:            227,943,824 km (1.38 AU)
Orbit Period:                  687 days (1.9 years)
Surface Temperature:                   -87 to -5 °C
First Record:                     2nd millennium BC
Recorded By:                   Egyptian astronomers

In [18]:
fact_df.to_csv("mars_fact.csv")